/* .body {

} */

.background {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 65%;
}

.head {
  font-family: Montserrat, sans-serif;
  line-height: 29px;
}

.chapter-1 {
  height: auto;
  list-style-type: none;
}

.chapter-2 {
  height: auto;
  list-style-type: none;
}

/* .main-me {
  display: block;
  position: relative;
  width: 309.5px;
  height: 305.5px;
} */

.main-me p {
  position: relative;
  /* font-size: 20px; */
  font-weight: 400;
  /* line-height: 29px; */
  margin-left: 15px;
  margin-right: 15px;
  /* margin-bottom: 0; */
  /* top: -15px; */
}

.main-me {
  display: none;
}

.main-me p:nth-last-child(2),
.main-me p:last-child {
  margin-bottom: 0;
}

.pic {
  display: block;
  position: relative;
  /* cursor: zoom-in; */
}

.image {
  cursor: zoom-in;
  /* transition-duration: 1s;
  transition-timing-function: linear; */

}

/* .image:hover {
  transform:translateX(300px)
} */

.pic-1 {
  float: left;
  width: 20vw;
  height: auto;
  padding-right: 44.5px;
  padding-bottom: 10px;
  top: 5px;

}

.pic-2 {
  float: right;
  width: 20vw;
  height: auto;
  /* padding-right: 44.5px; */
  padding-bottom: 10px;
  top: 5px;
}

.pic-3 {
  float: left;
  width: 13%;
  /* height: 80%; */
  padding-right: 20px;
  /* padding-bottom: 10px; */
  /* top: 15px; */
}

.pic-4 {
  float: right;
  width: 13%;
  /* padding-right: 20px; */
  top: 15px;
}

/* Всплывающее фото в модальном окне popup_img.js */

.popup_i {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  cursor: zoom-out;
}

.popup_bg {
  background: rgba(150,0,0,0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}

.popup_img {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 90vw;
}

/* #content {
  display: none;
} */

/* span {
  text-transform: uppercase;
  font-weight: 500;
  animation: .3s 0s 1 text normal both running linear;
  display: block;
}

@keyframes text {
  0% {
    transform: translateY(-40px) rotate(45deg);
    opacity: .5;
  }
} */
